@charset "UTF-8";
        * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        html {
        line-height: 1.5;                           /* 行間を詰める */
        -webkit-text-size-adjust: 100%;          /* モバイルの文字サイズ自動調整を無効化 */
        -webkit-tap-highlight-color: transparent; /* タップ時の青ハイライトを無効化 */
        }

        /* スマートフォン用のページサイズ */
        body {
            background-color: rgb(255, 255, 255);
            background-image: none;

            margin: 0;
            transition: background-color 0.3s ease;
        }

        select,
        input,
        button {
        -webkit-appearance: none; /* SafariやiOSでの特殊な見た目を無効化 */
        appearance: none;
        }

        a {
            text-decoration: none;
            color: rgb(0, 0, 0);
        }

        ::after, ::before { /* 疑似要素に対して */
            -webkit-box-sizing: inherit;
            box-sizing: inherit;
        }

        img {
            border-style: none;
            vertical-align: bottom; /* 画像のサイズ調整にbottomを参照する */
        }

        /* ヘッダー */
        #Header {
            position: fixed;
            top: 0;
            width: 100vw;
            background-color: rgb(255, 255, 255, 0.8);
            display: flex;

            z-index: 1000;
            box-shadow: 0px 1vw 25px rgba(65, 0, 0, 0.3); /* 黒っぽい影 */
        }
        /* ヘッダーの疑似要素 */
        #Header::after {
            content: "";
            position: absolute;
            top: 0;
            width: 100vw;
            height: 3vw;
            background-color: rgb(255, 186, 186);
        }
        #Header::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100vw;
            height: 4vw;
            background-color: rgb(87, 0, 0);
        }

        /* ブログタイトル */
        .BlogTitle {
            position: relative;
            top: 0;
            left: 0;

            height: 19vw;
            padding-top: 6vw;
            padding-bottom: 3vw;
        
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
        }
        /* ログイン中の状態が表示される */
        .username {
            position: relative;
            top: 0;
            right: 0;
            width: 30vw;
            margin-top: 6vw;
            margin-bottom: 3vw;

            color: rgb(0, 0, 0);
            display: flex;
            justify-content: center; /* 横方向の中央 */
            align-items: center;
            font-size: 12px;
        }
        /* ポータルへのログイン */
        #Portal {
            position: relative;
            top: 0;
            right: 0;
            width: 15vw;
            margin-top: 6vw;
            margin-bottom: 3vw;
            margin-right:  3vw;

            color: rgb(0, 0, 0);
            border: 1px solid rgb(0, 0, 0);
            background-color: rgb(255, 255, 255);
            border-radius: 8px;
            display: flex;
            justify-content: center; /* 横方向の中央 */
            align-items: center;
            font-size: 12px;

            transition: background-color 0.3s ease;

            cursor: pointer;
        }
        #Portal:hover {
            background-color: rgb(110, 110, 110);
        }

        #Contents { /* ページコンテンツ */
            width: 100vw;
            height: auto;
            margin-top: 19vw;

            font-family: "Meiryo",sans-serif;
            color: rgba(0, 0, 0, 1);
            border-top: 3vw solid rgb(255, 255, 255);
        }

        #Toplogo { /* トップロゴ */
            position: relative;
            display: block;

            background-image: url("../Img/TopBackground_1.png");
            background-size: cover;
            background-position: 0%;
            background-repeat: no-repeat;

            animation: ToplogoSlide 20s linear infinite;
        }
        @keyframes ToplogoSlide{
            0%{
                background-image: url("../Img/TopBackground_1.png");
                background-position: 0%;
            }
            24%{
                background-image: url("../Img/TopBackground_1.png");
                background-position: 100%;
            }
            25%{
                background-image: url("../Img/TopBackground_2.png");
                background-position: 100%;
            }
            49%{
                background-image: url("../Img/TopBackground_2.png");
                background-position: 0%;
            }
            50%{
                background-image: url("../Img/TopBackground_3.png");
                background-position: 0%;
            }
            74%{
                background-image: url("../Img/TopBackground_3.png");
                background-position: 100%;
            }
            75%{
                background-image: url("../Img/TopBackground_4.png");
                background-position: 100%;
            }
            99%{
                background-image: url("../Img/TopBackground_4.png");
                background-position: 0%;
            }
            100%{
                background-image: url("../Img/TopBackground_1.png");
                background-position: 0%;
            }
        }

        .BlogLogoLarge {
            position: relative;
            top: 0;
            left: 0;

            width: 100vw;
            padding-top: 15vw;
            padding-bottom: 15vw;
        }

        #SCROLLTAB { /* SCROLLTAB */
            position: relative;
            top: 0;
            left: 0;
            width: 100vw;

            background-color: rgba(255, 255, 255);
        }
        .Policy {
            position: relative;
            top: 0;
            left: 0;
            width: 100vw;

            display: flex;
            justify-content: center;
        }
        /* 右寄せ日付 */
        .RightDate {
            position: relative;
            top: 0;        
            width: 90vw;
            height: 3vw;
            margin-left: 5vw;
            margin-top: 1vw;

            text-align: right;

            font-size: 2.5vw;
        }

        /* キャプション */
        .Caption {
            position: relative;
            top: 0;        
            width: 90vw;
            height: 12vw;
            margin-left: 5vw;
            margin-top: 3vw;
            padding-top: 3vw;
            padding-bottom: 3vw;

            text-align: center;

            font-size: 6vw;
            border-bottom: 1px solid rgb(161, 161, 161);
        }
        /* サブキャプション */
        .SubCaption {
            position: relative;
            top: 0;        
            width: 55vw;
            height: 10vw;
            margin-top: 3vw;
            margin-left: 3vw;
            padding-top: 3vw;
            padding-left: 5vw;

            text-align: left;

            font-size: 4vw;
            border-bottom: 2px solid rgb(129, 32, 32);
        }
        /* サブサブキャプション */
        .SubSubCaption {
            position: relative;
            top: 0;        
            width: 55vw;
            height: 7vw;
            margin-top: 3vw;
            margin-left: 3vw;
            padding-top: 2vw;
            padding-left: 2vw;

            text-align: left;

            font-size: 3.5vw;
            border-left: 5px solid rgb(223, 137, 137);
        }
        /* 参拝手順 */
        .PrayMethod {
            position: relative;
            top: 0;
            left: 0;
            margin-left: 5vw;
            width: 90vw;

            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;

            object-fit: cover;
            z-index: 1;
        }
        /* 参拝画像 */
        .PrayImage {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 5vw;
            margin-left: 20vw;
            width: 60vw;

            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;

            object-fit: cover;
            z-index: 1;
        }
        .ToPray {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 3vw;
            margin-left: 20vw;
            margin-bottom: 5vw;
            width: 60vw;
            height: 10vw;

            border: 1px solid rgb(92, 92, 92);
            font-size: 16px;

            display: flex;
            justify-content: center; /* 横方向の中央 */
            align-items: center;

            background-image: url("../Img/ToPrayBackground.png");
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;

            z-index: 10;
        }

        /* ニュース */
        #News {
            position: relative;
            width: 100vw;
            padding-top: 3vw;
            
            background-color: rgb(255, 255, 255);
            /* 子要素を横に並べる */
            /* 子要素を縦並びに */
            display: flex;
            flex-direction: column;
        }

        /* 通常タブ */
        .Tub {
            position: relative;
            margin-left: 5vw;
            margin-top: 4vw;
            width: 90vw;
            height: 25vw;

            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); /* 黒っぽい影 */
            border: 1px solid rgb(172, 137, 137);
            border-radius: 2vw;

            overflow: hidden;
            cursor: pointer;

            display: flex;
        }
        /* サムネイル設定 */
        .Thumbnail {
            position: absolute;
            top: 0;
            left: 0;
            width: 30vw;
            height: 25vw;

            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;

            object-fit: cover;
            z-index: 1;
        }
        /* ページの概要 */
        .abstract {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 60vw;
            height: 25vw;

            background-color: rgba(255, 255, 255);

            display: block;
            justify-content: center; /* 横方向の中央 */
            align-items: center;
            font-size: 2vw;

            background-image: url("../Img/AbstractBackground.png");
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;

            z-index: 2;
        }
        .Title {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 2vw;
            margin-left: 2vw;
            width: 50vw;
            height: 5vw;

            color: rgb(0, 0, 0);

            display: flex;
            justify-content: center; /* 横方向の中央 */
            align-items: center;
            font-size: 4vw;

            z-index: 2;
        }
        .LinkLogo_1 {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 0;
            margin-right: 1vw;
            width: 9vw;
            height: 9vw;
            
            z-index: 2;
        }
        .abstractText {
            position: relative;
            top: 0;
            right: 0;
            padding: 2vw;
            width: 60vw;
            height: 20vw;

            color: rgb(0, 0, 0, 0.7);

            display: flex;
            text-align: center;
            justify-content: center; /* 横方向の中央 */
            align-items: center;
            font-size: 12px;

            z-index: 2;
        }

        /* 〇〇についてタブ */
        .AboutTub {
            position: relative;
            margin-left: 5vw;
            margin-top: 10vw;
            width: 90vw;
            height: 130vw;

            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); /* 黒っぽい影 */

            overflow: hidden;
            display: block;
        }
        .AboutThumbnail {
            position: relative;
            top: 0;
            left: 0;
            width: 90vw;
            height: 60vw;

            object-fit: cover;
            object-position: 50% 50%;
            z-index: 1;
        }
        .Aboutabstract {
            position: relative;
            top: 0;
            left: 0;
            width: 90vw;
            height: 70vw;

            display: block;
            font-size: 2vw;

            z-index: 2;
        }
        .AboutTitle {
            position: relative;
            top: 0;
            left: 0;
            padding-top: 0;
            padding-left: 3vw;
            width: 90vw;
            height: 25vw;

            color: rgb(0, 0, 0);

            display: flex;
            justify-content: left; /* 横方向の中央 */
            align-items: center;
            font-size: 4vw;

            z-index: 2;
        }
        .AboutLinkLogo_1 {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 8vw;
            margin-right: 8vw;
            width: 9vw;
            height: 9vw;
            
            z-index: 2;
        }
        .AboutabstractText {
            position: relative;
            top: 0;
            right: 0;
            margin-left: 3vw;
            width: 60vw;
            height: 15vw;

            color: rgb(0, 0, 0, 0.7);
            text-align: left;
            font-size: 12px;
            border-bottom: 1px solid rgb(0, 0, 0);

            z-index: 2;
        }
        .AboutLink {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 2vw;
            margin-left: 3vw;
            padding-left: 3vw;
            width: 40vw;
            height: 7vw;

            font-size: 3vw;
            border-left: 3px solid rgb(0, 0, 0);
            border-bottom: 1px solid rgb(0, 0, 0);

            display: flex;
            justify-content: left; /* 横方向の中央 */
            align-items: center;

            z-index: 10;
        }
        
        /* お社・ご祭神タブ */
        .GodTub {
            position: relative;
            margin-left: 5vw;
            margin-top: 10vw;
            width: 90vw;
            height: 120vw;

            overflow: hidden;
            display: flex;
        }
        .GodThumbnail {
            position: relative;
            top: 0;
            left: 0;
            width: 30vw;
            height: 80vw;

            object-fit: contain;
            object-position: 50% 50%;
            z-index: 1;
        }
        .Godabstract {
            position: relative;
            top: 0;
            left: 0;
            width: 60vw;
            height: 120vw;

            display: block;
            font-size: 2vw;

            z-index: 2;
        }
        .GodTitle {
            position: relative;
            top: 0;
            left: 0;
            padding-top: 0;
            padding-left: 3vw;
            width: 55vw;
            height: 15vw;

            color: rgb(0, 0, 0);

            display: flex;
            justify-content: left; /* 横方向の中央 */
            align-items: center;
            font-size: 4vw;

            z-index: 2;
        }
        .GodLinkLogo_1 {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 3vw;
            margin-right: 5vw;
            width: 9vw;
            height: 9vw;
            
            z-index: 2;
        }
        .GodabstractText {
            position: relative;
            top: 0;
            right: 0;
            margin-left: 3vw;
            width: 50vw;
            height: 10vw;

            color: rgb(112, 112, 112);
            text-align: left;
            font-size: 2.5vw;
            border-bottom: 1px solid rgb(112, 112, 112);

            z-index: 2;
        }
        .GodLink {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 1vw;
            margin-left: 13vw;
            padding-left: 3vw;
            width: 40vw;
            height: 6vw;

            font-size: 2.5vw;
            border-left: 3px solid rgb(112, 112, 112);
            border-bottom: 1px solid rgb(112, 112, 112);
            color: rgb(112, 112, 112);

            display: flex;
            justify-content: left; /* 横方向の中央 */
            align-items: center;

            z-index: 10;
        }

        /* 最新情報タブ */
        .LatestNewsTub {
            position: relative;
            margin-top: 10vw;
            width: 100vw;
            height: 130vw;

            overflow: hidden;
            display: block;

            background-image: url("../Img/LatestNews.png");
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
        }
        .LatestNewsTitle {
            position: relative;
            top: 0;
            left: 0;
            padding-top: 0;
            padding-left: 3vw;
            width: 90vw;
            height: 30vw;

            display: flex;
            justify-content: left; /* 横方向の中央 */
            align-items: center;
            font-size: 4vw;

            background-image: url("../Img/LatestInformation.png");
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;

            z-index: 2;
        }
        .LatestNewsLink {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 4vw;
            margin-left: 3vw;
            padding-left: 8vw;
            width: 50vw;
            height: 8vw;

            font-size: 3vw;
            color: rgb(255, 255, 255);
            border-bottom: 1px solid rgb(255, 255, 255);

            display: flex;
            justify-content: left; /* 横方向の中央 */
            align-items: center;

            z-index: 10;
        }

        /* 主な神事行事タブ */
        .EventTub {
            position: relative;
            margin-top: 10vw;
            width: 100vw;
            height: 120vw;

            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); /* 黒っぽい影 */
            background-color: rgb(78, 78, 78);

            overflow: hidden;
            display: block;
        }
        .Eventabstract {
            position: relative;
            top: 0;
            left: 0;
            width: 100vw;
            height: 120vw;

            display: block;
            font-size: 2vw;

            z-index: 2;
        }
        .EventTitle {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 2vw;
            padding-left: 3vw;
            width: 90vw;
            height: 10vw;

            color: rgb(255, 255, 255);

            display: flex;
            justify-content: left; /* 横方向の中央 */
            align-items: center;
            font-size: 4vw;

            z-index: 2;
        }
        .EventLinkLogo_1 {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 8vw;
            margin-right: 8vw;
            width: 9vw;
            height: 9vw;
            
            z-index: 2;
        }
        .EventabstractText {
            position: relative;
            top: 0;
            right: 0;
            margin-left: 3vw;
            width: 60vw;
            height: 10vw;

            color: rgb(255, 255, 255, 0.7);
            text-align: left;
            font-size: 12px;
            border-bottom: 1px solid rgb(255, 255, 255, 0.7);

            z-index: 2;
        }
        /*  */
        .ticker {
            position: relative;
            width: 100vw;
            height: 80vw;

            display: flex;
            align-items: center;
            overflow: hidden;
        }
        .ticker__track {
            display: flex;
            white-space: nowrap;
            will-change: transform;
        }
        .ticker__item {
            position: relative;
            margin-right: 5vw;
            width: 50vw;
            height: 80vw;

            flex: none;
            font-size: 3vw;
            line-height: 4vw;
            background-color: rgb(255, 255, 255);

            overflow: hidden;
        }
        .tickerImage {
            position: relative;
            top: 0;
            left: 0;
            width: 50vw;
            height: 30vw;

            object-fit: contain;
        }
        .tickerMonth {
            position: relative;
            top: 0;
            left: 0;
            width: 50vw;
            height: 45vw;
        }
        .tickerClass {
            position: relative;
            top: 0;
            left: 0;
            width: 45vw;
            height: 5vw;

            text-align: right;
            color: rgb(110, 110, 110);
        }

        /* ご参拝ご祈祷タブ */
        .VisitTub {
            position: relative;
            margin-left: 5vw;
            margin-top: 10vw;
            width: 90vw;
            height: 100vw;

            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); /* 黒っぽい影 */

            overflow: hidden;
            display: block;
        }
        .VisitThumbnail {
            position: relative;
            top: 0;
            left: 0;
            width: 90vw;
            height: 60vw;

            object-fit: cover;
            object-position: 50% 50%;
            z-index: 1;
        }
        .Visitabstract {
            position: relative;
            top: 0;
            left: 0;
            width: 90vw;
            height: 40vw;

            display: block;
            font-size: 2vw;

            z-index: 2;
        }
        .VisitTitle {
            position: relative;
            top: 0;
            left: 0;
            padding-top: 0;
            padding-left: 3vw;
            width: 90vw;
            height: 20vw;

            color: rgb(0, 0, 0);

            display: flex;
            justify-content: left; /* 横方向の中央 */
            align-items: center;
            font-size: 4vw;

            z-index: 2;
        }
        .VisitLinkLogo_1 {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 5vw;
            margin-right: 8vw;
            width: 9vw;
            height: 9vw;
            
            z-index: 2;
        }
        .VisitabstractText {
            position: relative;
            top: 0;
            right: 0;
            margin-left: 3vw;
            width: 60vw;
            height: 15vw;

            color: rgb(0, 0, 0, 0.7);
            text-align: left;
            font-size: 12px;
            border-bottom: 1px solid rgb(0, 0, 0);

            z-index: 2;
        }

        /* 〇〇についてタブ */
        .MapTub {
            position: relative;
            margin-top: 10vw;
            width: 100vw;
            height: 130vw;

            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); /* 黒っぽい影 */
            background-image: url("../Img/ShrineMap.png");
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;

            overflow: hidden;
            display: block;
        }
        .Mapabstract {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 110vw;
            width: 100vw;
            height: 20vw;

            display: block;
            font-size: 2vw;

            background-color: rgba(0, 0, 0, 0.5);

            z-index: 2;
        }
        .MapTitle {
            position: relative;
            top: 0;
            left: 0;
            padding-top: 0;
            padding-left: 3vw;
            width: 90vw;
            height: 10vw;

            color: rgb(255, 255, 255);

            display: flex;
            justify-content: left; /* 横方向の中央 */
            align-items: center;
            font-size: 4vw;

            z-index: 2;
        }
        .MapabstractText {
            position: relative;
            top: 0;
            right: 0;
            margin-left: 3vw;
            width: 60vw;
            height: 6vw;

            color: rgba(255, 255, 255, 0.7);
            text-align: left;
            font-size: 12px;
            border-bottom: 1px solid rgb(255, 255, 255);

            z-index: 2;
        }

        /* ニュースメニュー */
        .NewsMenu {
            position: relative;
            top: 0;
            left: 0;
            padding-left: 0;
            margin-top: 5vw;
            margin-left: 5vw;
            width: 90vw;

            list-style-type: none;
            display: flex;
        }
        .NewsMenu li {
            position: relative;
            width: 28vw;
            height: 8vw;
            margin-right: 2vw;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: rgb(212, 175, 175);
        }
        /* ニュース一覧表示 */
        .NewsContents {
            position: relative;
            top: 0;
            left: 0;
            padding-left: 0;
            margin-top: 5vw;
            margin-left: 5vw;
            width: 90vw;

            list-style-type: none;
        }
        .NewsContents li {
            position: relative;
            width: 88vw;
            height: 24vw;
            margin-right: 2vw;
            margin-top: 2vw;

            border-bottom: 1px solid rgb(78, 50, 50);
        }
        .NewsDate {
            position: relative;
            top: 0;
            left: 0;
            width: 32vw;
            height: 5vw;
            margin-right: 2vw;

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }
        .NewsClass {
            position: absolute;
            top: 0;
            left: 35vw;
            width: 32vw;
            height: 5vw;
            margin-right: 2vw;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: rgb(61, 0, 0);
            color: rgb(255, 255, 255);
            font-size: 14px;
        }
        .NewsText {
            position: relative;
            top: 0;
            left: 0;
            width: 88vw;
            height: 19vw;
            margin-right: 2vw;
            padding-left: 3vw;

            display: flex;
            justify-content: left;
            align-items: center;
            font-size: 16px;
        }

        /* 12月表示 */
        .MonthsList {
            position: relative;
            top: 0;
            left: 0;
            padding-left: 0;
            margin-top: 5vw;
            margin-left: 5vw;
            width: 90vw;

            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(6, auto);
            grid-template-rows: repeat(2, auto);
            gap: 0;
        }
        .Months {
            position: relative;
            top: 0;
            margin-top: 1vw;
            width: 14vw;
            height: 8vw;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: rgb(238, 168, 168);
            border: 1px solid rgb(138, 63, 63);
            color: rgb(0, 0, 0);
            font-size: 12px;

            cursor: pointer;

            transition: background-color 0.3s ease;
        }
        .MonthsON {
            position: relative;
            top: 0;
            margin-top: 1vw;
            width: 14vw;
            height: 8vw;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: rgb(43, 0, 0);
            border: 1px solid rgb(138, 63, 63);
            color: rgb(255, 255, 255);
            font-size: 12px;

            cursor: pointer;

            transition: background-color 0.3s ease;
        }

        /* 神事リスト用 */
        .RitualContents {
            position: relative;
            top: 0;
            left: 0;
            padding-left: 0;
            margin-top: 5vw;
            margin-left: 5vw;
            width: 90vw;

            list-style-type: none;
        }
        .RitualContents li {
            position: relative;
            width: 88vw;
            margin-right: 2vw;
            margin-top: 2vw;

            border-bottom: 1px dashed rgb(78, 50, 50);
        }
        .RitualExplaine {
            position: relative;
            top: 0;
            padding: 3vw;

            width: 88vw;
            height: auto;

            font-size: 12px;
            color: rgb(0, 0, 0);
            background-color: rgba(255, 255, 255, 0);
        }

        /* 表示のオンオフ */
        .OFF {
            display: none;
        }
        .ON {
            display: block;
        }

        /* お社用 */
        .ShrineMap {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 15vw;
            margin-bottom: 15vw;
            width: 100vw;

            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;

            object-fit: cover;
            z-index: 1;
        }
        .ShrineImage {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 5vw;
            margin-left: 5vw;
            margin-bottom: 5vw;
            width: 90vw;
            height: 50vw;

            background-size: contain;
            background-position: top;
            background-repeat: no-repeat;

            object-fit: cover;
            z-index: 1;
        }
        .ShrineTab {
            position: relative;
            top: 0;
            left: 0;
            padding-left: 0;
            margin-top: 0;
            width: 100vw;

            list-style-type: none;
        }
        .ShrineTab li {
            position: relative;
            width: 100vw;
            height: 10vw;

            display: flex;
            justify-content: left;
            align-items: center;

            border-bottom: 1px dashed rgb(0, 0, 0);
        }
        .ShrineNumber {
            position: relative;
            width: 6vw;
            height: 6vw;
            margin: 2vw;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 3vw;
            border-radius: 3vw;
            color: rgb(255, 255, 255);
            background-color: rgb(53, 0, 0);
        }
        /* ご祭神 */
        .DeityItem {
            position: relative;
            top: 0;        
            width: 90vw;
            height: 10vw;
            margin-left: 5vw;
            margin-top: 8vw;
            margin-bottom: 8vw;
            padding-top: 3vw;

            text-align: center;

            font-size: 4vw;
            background-image: url("../Img/DeityItem.png");
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
        }
        .DeityImage {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 5vw;
            margin-left: 15vw;
            margin-bottom: 5vw;
            width: 70vw;
            height: 70vw;

            border-radius: 5vw;

            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;

            object-fit: cover;
            z-index: 1;
        }
        .DeityTab {
            position: relative;
            top: 0;
            left: 0;
            padding-left: 0;
            margin-top: 0;
            width: 100vw;

            list-style-type: none;
        }
        .DeityTab li {
            position: relative;
            width: 70vw;
            height: 6vw;
            margin-top: 3vw;
            margin-left: 15vw;
            padding-left: 3vw;

            display: flex;
            justify-content: left;
            align-items: center;

            border-left: 5px solid rgb(102, 0, 0);
            border-bottom: 1px solid rgb(102, 0, 0);
        }
        /* ブラインドされたご祭神の名前 */
        .DeityName-Blind {
            position: relative;
            top: 0;
            left: 0;
            padding-left: 0;
            margin-top: 4vw;
            width: 60vw;
            height: 8vw;
            margin-left: 20vw;

            background-color: rgb(0, 0, 0);
        }
        .DeityNameEng-Blind {
            position: relative;
            top: 0;
            left: 0;
            padding-left: 0;
            margin-top: 2vw;
            width: 50vw;
            height: 3vw;
            margin-left: 25vw;

            background-color: rgb(0, 0, 0);
        }
        /* 東御座 */
        .EastDeity {
            position: relative;
            top: 0;
            left: 0;
            padding-top: 3vw;
            padding-bottom: 3vw;
            width: 100vw;

            background-color: rgb(173, 247, 185);
        }
        /* 西御座 */
        .WestDeity {
            position: relative;
            top: 0;
            left: 0;
            padding-top: 3vw;
            padding-bottom: 3vw;
            width: 100vw;

            background-color: rgb(160, 253, 222);
        }

        /* ご祭神のリスト */
        .DeityList {
            position: relative;
            top: 0;
            left: 0;
            padding-left: 0;
            padding-top: 3vw;
            padding-bottom: 3vw;
            margin-top: 10vw;
            margin-bottom: 20vw;
            margin-left: 5vw;
            width: 90vw;

            background-color: rgb(255, 255, 255);

            list-style-type: none;
        }
        .DeityList li {
            position: relative;
            width: 60vw;
            margin-top: 5vw;
            margin-bottom: 5vw;
            margin-left: 15vw;
        }
        
        /* ご祭神の名前 */
        .DeityClass {
            position: relative;
            top: 0;
            left: 0;
            padding-left: 0;
            width: 60vw;

            text-align: center;
        }
        .DeityName {
            position: relative;
            top: 0;
            left: 0;
            padding-left: 0;
            margin-top: 3vw;
            margin-bottom: 1vw;
            width: 60vw;

            text-align: center;
            font-size: 22px;
        }
        .DeityNameEng {
            position: relative;
            top: 0;
            left: 0;
            padding-left: 0;
            width: 60vw;

            text-align: center;
            font-size: 14px;
            color: rgb(156, 156, 156);
        }

        /* ここから先ログイン画面専用 */
        /* ログインフォーム */
        #PrayForm {
            position: relative;
            margin-top: 15vw;
            margin-bottom: 20vw;
            width: 100vw;
            height: 60vw;

            background-color: rgba(0, 150, 100, 0.1);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* 黒っぽい影 */
        }
        label{
            position: relative;
            margin-left: 15vw;
            width: 70vw;
            height: 7vw;

            color: rgb(30, 100, 94);
            font-size: 16px;
        }
        select {
            position: relative;
            margin-top: 2vw;
            margin-left: 15vw;
            width: 70vw;
            height: 7vw;

            background-color: rgba(255, 255, 255);
            border: 1px solid rgb(116, 116, 116);
            color: rgb(0, 0, 0);
            font-size: 16px;

            cursor: pointer;
        }
        option {
            color: rgb(0, 0, 0);
        }
        input { /* インプットフォーム */
            position: relative;
            margin-top: 2vw;
            margin-left: 15vw;
            width: 70vw;
            height: 7vw;

            background-color: rgba(255, 255, 255);
            border: 1px solid rgb(116, 116, 116);
            color: rgb(0, 0, 0);
            font-size: 16px;

            cursor: pointer;
        }
        button {
            position: relative;
            margin-top: 2vw;
            margin-left: 15vw;
            width: 70vw;
            height: 7vw;

            background-color: rgb(40, 170, 120);
            border: 1px solid rgb(116, 116, 116);
            border-radius: 5px;
            font-size: 16px;

            cursor: pointer;

            transition: background-color 0.3s ease, color 0.3s ease;
        }
        button:hover {
            background-color: rgb(2, 73, 46);
            color: rgb(255, 255, 255);
        }
        #NormalActionText {
            position: fixed;
            top: 90vw;
            left: 15vw;
            margin-top: 5vw;
            width: 70vw;
            height: 25vw;

            background-color: rgb(255, 255, 255, 0.9);
            border-radius: 15px;
            font-size: 18px;

            display: flex;
            justify-content: center;
            align-items: center;

            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* 黒っぽい影 */

            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease;

            z-index: 4000;
            overflow: hidden;
        }
        #LINEMessage {
            position: fixed;
            top: 0;
            left: 0;
            margin-top: -20vw;
            margin-left: 3vw;
            width: 94vw;
            height: 15vw;

            background-image: url("../Img/LIMEMessage.jpg");
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            border-radius: 15px;
            font-size: 18px;

            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* 黒っぽい影 */

            transition: margin-top 0.3s ease;

            z-index: 4000;
            overflow: hidden;
        }
        .MessageDeity {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 1vw;
            margin-left: 18vw;
            height: 4vw;

            font-size: 2.8vw;
            color: rgb(0, 0, 0);

            display: flex;
            justify-content: left;
            align-items: center;
        }
        .MessageText {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 1vw;
            margin-left: 19vw;

            font-size: 2.5vw;
            color: rgb(0, 0, 0);
        }

        /* 五行封印の鍵 */
        #FIVE {
            cursor: pointer;
        } 
        
        #Menu {
            position: relative;
            width: 8vw;
            height: 4vh;

            top: 0vh;
            right: 0%;
            background-color: rgba(255, 255, 255, 0);
            text-align: left; /* 横方向の中央 */
            font-size: 25px;

            cursor: pointer;
        }
        .Menu span {
            display: block;
            width: 6vw;
            height: 4px;
            margin-top: 0.6vh;
            margin-left: 1vw;
            background-color: rgb(255, 255, 255);
            border-radius: 2px;
        }

        /* メニュータブ */
        #MenuNav {
            position: absolute;
            top: 0;
            left: 0;

            background-color: rgba(255, 255, 255, 0.5);
            width: 70vw;
            height: 100vh;
            transform: scaleX(0%);
            transform-origin: right;
            transition: transform 1s ease;
        }
        .Nav {
            background-color: rgba(255, 255, 255, 0.5);
            width: 70vw;
            height: 100vh;
            color: rgb(255, 255, 255);
        }
        .Nav.active {
            transform: scaleX(100%);
        }

        /* ここからピックアップページ */
        /* ページの見出し */
        .Pagehead {
            position: relative;
            top: 0;
            left: 0;

            width: 100vw;
            height: 70vw;
        }
        .PageCaption1 {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: -3vw;
            width: 100vw;
            height: 70vw;

            color: rgb(255, 255, 255);
            font-size: 32px;

            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;

            z-index: 2;
        }
        .PageCaption2 {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 3vw;
            width: 100vw;
            height: 70vw;

            color: rgb(255, 255, 255);
            font-size: 16px;

            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;

            z-index: 2;
        }
        .CaptionImage {
            position: absolute;
            top: 0;
            left: 0;

            width: 100vw;
            height: 70vw;

            object-fit: cover;
            object-position: 50% 10%;

            z-index: 1;
        }
        /* 社長画像用 */
        .NormalImage {
            position: relative;
            top: 0;
            left: 0;

            width: 100vw;
            height: 40vw;

            object-fit: cover;
            object-position: 50% 10%;
        }
        /* 理念画像 */
        .PolicyImage {
            position: relative;
            top: 0;
            left: 0;

            width: 100vw;

            object-fit: contain;
            object-position: 50% 15%;
        }
        /* 説明文 */
        .Paragraph {
            position: relative;
            top: 0;
            left: 0;
            margin-top: 2vw;
            margin-left: 5vw;
            width: 100vw;
            height: auto;

            font-size: 12px;
            background-color: rgba(255, 255, 255, 0);
        }
        /* サブリンク */
        #Sublink {
            position: relative;
            top: 0vh;
            
            /* 子要素を横に並べる */
            /* 子要素を縦並びに */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 100vw;
            height: auto;
        }
        .Tublink {
            position: relative;
            width: 70vw;
            height: 5vw;
            margin-top: 0.5vh;

            color: rgb(0, 0, 0);
            border: 1px solid rgb(0, 0, 0);

            display: flex;
            justify-content: center; /* 横中央 */
            align-items: center;     /* 縦中央 */

            font-size: 16px; 

            overflow: hidden;
            cursor: pointer;

            z-index: 2;
        }
        .Tublink::after {
            content: "";

            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: rgba(255, 0, 0, 0.2);

            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s ease;
            z-index: 1;
        }
        .Tublink:hover::after {
            transform: scaleX(1);
        }

        /* 見出し */
        .heading {
            position: relative;
            top: 0;
            margin: 3vw;
            padding-left: 1vw;
            width: 90vw;
            height: 5vw;

            display: flex;
            justify-content: left; /* 横中央 */
            align-items: center;     /* 縦中央 */

            font-size: 18px;
            color: rgb(0, 0, 0);
            border-left: 5px solid rgb(0, 0, 0);
        }

        /* マイページ用 */
        .Notice {
            position: relative;
            top: 0;
            left: 0;
            width: 80vw;
            margin-top: 0vh;
            background-color: rgba(73, 73, 73, 0);

            display: flex;
            flex-direction: column;
            align-items: left;
        }

        /* 画面の状態 */
        #UserDisplay {
            position: relative;
            top: 0;
            left: 0;
            width: 100vw;
            height: auto;

            margin-top: 0vh;
            background-color: rgba(255, 255, 255, 0.1);

            display: flex;
        }

        /* フッター */
        #Footer {
            position: relative;
            margin-top: 5vw;
            top: 0;
            
            /* 子要素を縦並びに */
            display: inline-block;
            justify-content: center; /* 横方向の中央 */
            align-items: center;
            text-align: center; /* 横方向の中央 */

            width: 100vw;
            height: 110vw;

            color: rgba(255, 255, 255, 1);
            background-image: url("../Img/FooterBackground.png");
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
        }
        /* ページトップ */
        .PageTop {
            position: relative;
            top: 0;
            margin-top: 25vw;
            width: 100vw;
            height: 70vw;

            background-image: url("../Img/ShrineLogo.png");
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
        }

        /* 注意書き */
        .Note {
            position: relative;
            top: 0;

            width: 100vw;
            height: 10vw;
            color: rgb(255, 255, 255);
            font-size: 10px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-top: 3px solid rgb(255, 255, 255);
            background-color: rgb(37, 0, 0);
        }

        /* コピーライトの表記 */
        .CopyRight {
            position: relative;
            top: 0;

            width: 100vw;
            height: 5vw;
            color: rgb(255, 255, 255);
            font-size: 11px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-top: 1px solid rgb(255, 255, 255);
            background-color: rgb(0, 0, 0);
        }

        /* 開閉可能なメニュータブ */
        #Menubtn {
            position: fixed;
            width: 10vw;
            height: 10vw;
            margin-top: -13vw;
            margin-left: 88vw;

            background-color: rgb(0, 0, 0, 0.7);

            cursor: pointer;

            z-index: 3000;
        }
        /* メニュータブ閉じている */
        .MenubtnOFF span {
            position: absolute;
            display: inline-block;
            width: 8vw;
            height: 0.5vw;

            background-color: rgba(255, 255, 255);
            top: 4.5vw;
            left: 1vw;
        }
        .MenubtnOFF span::before, .MenubtnOFF span::after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 8vw;
            height: 0.5vw;

            background-color: rgba(255, 255, 255);
            transition: transform 0.3s ease-out;
        }
        .MenubtnOFF span::before {
            top: -2vw;
        }
        .MenubtnOFF span::after {
            top: 2vw;
        }

        /* メニュータブ開いている */
        .MenubtnON span {
            position: absolute;
            display: inline-block;
            width: 8vw;
            height: 0.5vw;

            background-color: rgba(255, 255, 255, 0);
            top: 4.5vw;
            left: 1vw;
        }
        .MenubtnON span::before, .MenubtnON span::after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 8vw;
            height: 0.5vw;

            background-color: rgba(255, 255, 255);
            transition: transform 0.3s ease-out;
        }
        .MenubtnON span::before {
            transform: rotate(225deg);
            top: 0vw;
        }
        .MenubtnON span::after {
            transform: rotate(135deg);
            top: 0vw;
        }

        
        #MenuTabBar {
            position: fixed;
            top: 0;
            right: 0;
            padding-top: 19vw;
            height: 100vh;

            background-color: rgba(255, 255, 255, 0.9);  
            z-index: 2000;

            overflow: hidden;

            transition: width 0.3s ease-out;
        }
        .MenuTabBarOFF {
            width: 0vw; /* 初期は閉じている。 */
        }
        .MenuTabBarON {
            width: 100vw; /* 初期は閉じている。 */
        }

        .MenuTabInfo {
            position: relative;
            top: 0;
            left: 0;
            margin-left: 10vw;
            margin-bottom: 2vw;
            width: 80vw;
            height: 15vw;

            border: 1px solid rgb(168, 168, 168);
            object-fit: cover;
            object-position: 50% 10%;
        }
        .MenuTab {
            position: relative;
            top: 0;
            left: 0;
            padding-left: 0;
            margin-top: 0;
            width: 100vw;

            list-style-type: none;
        }
        .MenuTab li {
            position: relative;
            width: 100vw;
            height: 10vw;

            display: flex;
            justify-content: center;
            align-items: center;
        }
        .MenuTab li::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            border-bottom: 1px dashed rgb(0, 0, 0);
            pointer-events: none;
        }